@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --yellow: #2377f5;
  --black:#111;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
  --black-flooter:#24262b;

  
  --pale-purple-pantone: hsl(262, 63%, 92%);
  --medium-sea-green: hsl(152, 63%, 43%);
  --lavender-blush: hsl(336, 35%, 92%);
  --carolina-blue: hsl(204, 91%, 53%);
  --columbia-blue: hsl(204, 92%, 90%);
  --alice-blue-1: hsl(216, 38%, 95%);
  --alice-blue-2: hsl(216, 75%, 97%);
  --alice-blue-3: hsl(216, 38%, 95%);
  --alice-blue-4: hsl(217, 33%, 92%);
  --independence: hsl(219, 21%, 39%);
  --deep-cerise: hsl(329, 63%, 52%);
  --eerie-black: hsl(210, 11%, 15%);
  --space-cadet: hsl(240, 22%, 25%);
  --blue-jeans: hsl(204, 80%, 63%);
  --slate-blue: hsl(262, 60%, 57%);
  --beau-blue: hsl(208, 86%, 92%);
  --honey-dew: hsl(152, 48%, 89%);
  --mimi-pink: hsl(329, 63%, 90%);
  --red-salsa: hsl(0, 79%, 63%);
  --sapphire: hsl(211, 100%, 35%);
  --manatee: hsl(219, 14%, 60%);
  --white: hsl(0, 0%, 100%);
  --black:#111;
 
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
  --black-flooter:#24262b;

  --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3));

  /**
   * typography
   */

  --ff-nunito: 'Nunito', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;

  --fs-1: 2.125rem;
  --fs-2: 1.875rem;
  --fs-3: 1.5rem;
  --fs-4: 1.375rem;
  --fs-5: 1.125rem;
  --fs-6: 0.875rem;
  --fs-7: 0.625rem;

  --fw-400: 400;
  --fw-600: 600;

  /**
   * transition
   */

  --transition: 0.5s ease;

  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * radius
   */

  --radius-10: 10px;
  --radius-14: 14px;
  --radius-18: 18px;

  /**
   * shadow
   */

  --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
  --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);
}
a { text-decoration: none; }

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 3rem 5%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.btn:hover {
  background: var(--yellow);
  color: var(--black);
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}
.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.header .logo span {
  color: var(--yellow);
}
.header .navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: var(--yellow);
}
.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
}
.header .icons div:hover {
  background: var(--black);
  color: var(--white);
}
.header #menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
  animation: fadeIn 0.2s linear;
}
.header .search-form.active {
  display: flex;
}
.header .search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}
.header .search-form label {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}
.header .search-form label:hover {
  color: var(--yellow);
}
.header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  animation: fadeIn 0.2s linear;
  display: none;
}
.header .login-form.active {
  display: block;
}
.header .login-form h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  background: var(--light-bg);
  color: var(--light-color);
  margin: 0.7rem 0;
}
.header .login-form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.header .login-form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}
.header .login-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}
.header .login-form .flex a:hover {
  color: var(--yellow);
  text-decoration: underline;
}
.header .login-form .btn {
  width: 100%;
}
.header .login-form p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 1.5rem;
}
.header .login-form p a {
  color: var(--yellow);
}
.header .login-form p a:hover {
  text-decoration: underline;
}

.side-info {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 23rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}
.side-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}
.side-info #close-side-info {
  position: sticky;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}
.side-info #close-side-info:hover {
  transform: rotate(90deg);
}
.side-info .profile {
  padding: 20px;
}
.side-info .profile img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.side-info .profile h2 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.side-info .menu {
  padding: 2rem 0;
  border-top: var(--border);
}
.side-info .menu p {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}
.side-info .menu p:hover {
  color: var(--yellow);
}
.side-info .menu a {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}
.side-info .menu a:hover {
  color: var(--yellow);
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 33rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}
.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}
.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
}
.contact-info .info {
  padding: 2rem 0;
}
.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
}
.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}
.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}
.contact-info .share {
  padding-top: 1rem;
  border-top: var(--border);
  margin-top: 1rem;
}
.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin: 0 0.3rem;
}
.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.services {
  background: var(--light-bg);
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}
.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.services .box-container .box:hover img {
  transform: translateY(-1.5rem);
}
.services .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
}
.services .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.services .box-container .box p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.projects {
  background: var(--black);
}
.projects .heading {
  color: var(--white);
}
.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.projects .box-container .box {
  background: var(--white);
  cursor: initial;
}
.projects .box-container .box:hover .image img {
  transform: scale(1.1);
}
.projects .box-container .box .image {
  height: 27rem;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects .box-container .box .info {
  background: var(--white);
}
.projects .box-container .box .info p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}
.projects .box-container .box .content {
  display: flex;
  background: var(--white);
  justify-content: space-between;
}
.projects .box-container .box .content .info {
  padding: 1rem 2rem;
}
.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}
.projects .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}
.projects .box-container .box .content i {
  width: 7.5rem;
  font-size: 3rem;
  background: var(--light-bg);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}

.form {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 60rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  z-index: 1100;
  animation: fadeIn 0.2s linear;
  display: none;
}
.form.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}
.form h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  background: var(--light-bg);
  color: var(--light-color);
  margin: 0.7rem 0;
}
.form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}
.form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}
.form .flex a:hover {
  color: var(--yellow);
  text-decoration: underline;
}
.form .btn {
  width: 100%;
}
.form p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 1.5rem;
}
.form p a {
  color: var(--yellow);
}
.form p a:hover {
  text-decoration: underline;
}

.pricing {
  background: var(--light-bg);
}
.pricing .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.pricing .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.pricing .box-container .box i {
  font-size: 4rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: var(--yellow);
  color: var(--black);
}
.pricing .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: normal;
}
.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
}
.pricing .box-container .box .price span {
  font-size: 2rem;
}
.pricing .box-container .box .list {
  padding: 1rem 0;
}
.pricing .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.contact {
  background: var(--black);
}
.contact .heading {
  color: var(--white);
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .row .map {
  flex: 1 1 41rem;
  width: 100%;
}
.contact .row form {
  flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
}
.contact .row form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.contact .row form .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
}
.contact .row form .box:focus {
  border-color: var(--yellow);
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.blogs {
  background: var(--light-bg);
}
.blogs .slide {
  text-align: center;
}
.blogs .slide:hover .image img {
  transform: scale(1.1);
}
.blogs .slide .image {
  height: 25rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
}
.blogs .slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.blogs .slide .content {
  padding: 2rem;
  padding-top: 5rem;
  background: var(--white);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}
.blogs .slide .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.blogs .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.reviews .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}
.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.reviews .slide .user img {
  width: 7rem;
  height: 7rem;
}
.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.reviews .slide .user .starts {
  padding-top: 0.5rem;
}
.reviews .slide .user .starts i {
  font-size: 1.5rem;
  color: var(--yellow);
}

.home {
  padding: 0;
}
.home .slide {
  min-height: 60rem;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--white), transparent);
}
.home .slide .content {
  width: 50rem;
  position: relative;
}
.home .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}
.home .slide .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}
.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--white);
}
.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--yellow);
}
.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}
.home .swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .video {
  flex: 1 1 41rem;
}
.about .row .video video {
  width: 100%;
  height: 50%;
}
.about .row .content {
  flex: 1 1 42rem;
}
.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}
.about .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  margin-top: 3rem;
  align-items: flex-end;
}
.about .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}
.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 5rem;
}

.footer {
  background: var(--black-flooter);
  padding: 70px 0;
}
.footer .container {
  max-width: 1170px;
  margin: auto;
}
.footer .container .row {
  display: flex;
  flex-wrap: wrap;
}
.footer .container .row .footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer .container .row .footer-col ul {
  list-style: none;
}
.footer .container .row .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .container .row .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.3s ease;
}
.footer .container .row .footer-col ul li a:hover {
  color: var(--white);
  padding-left: 8px;
}
.footer .container .row .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--white);
  transition: all 0.5s ease;
}
.footer .container .row .footer-col .social-links a:hover {
  color: #24262b;
  background-color: var(--white);
}
.footer .container .row .footer-col h4 {
  font-size: 18px;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer .container .row .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer .credit {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 2rem;
  padding-top: 1rem;
  color: var(--white);
  display: flex;
  justify-content: center;
}
.footer .credit span {
  color: var(--yellow);
}

.flooter2 {
  text-align: center;
}
.flooter2 .links .btn {
  margin: 0.5rem;
}
.flooter2 .credit {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  margin-top: 2rem;
  padding-top: 1rem;
}
.flooter2 .credit span {
  color: var(--yellow);
}


.slider {
  margin-bottom: 30px;
  position: relative;
  display: none;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #3685f4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3685f4c5, #3685f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3685f4c5, #3685f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #3685f4 !important;
}



.slider.active {
    
  display: block;
}

.nav{
  padding-top: 4em;
  gap: 1em;
}
.nav p{
  position: relative;
  font-size: clamp(16px, 5vw, 25px);
  color:#91a1d4 ;
  padding-left: 0.7em;
  cursor: pointer;
}





  /*-----------------------------------*\
    #BLOG
  \*-----------------------------------*/
  
  .blog .section-title { margin-bottom: 30px; }
  
  .blog-card {
    background: var(--co-blue-2);
    border-radius: var(--radius-18);
    border: 1px solid var(--white);
    box-shadow: var(--shadow-1);
    overflow: hidden;
  }
  
  .blog-card .card-banner {
    aspect-ratio: 3 / 2;
    position: relative;
    overflow: hidden;
  }
  
  .blog-card .card-banner a:first-child { height: 100%; }
  
  .blog-card .card-banner img {
    height: 100%;
    object-fit: cover;
  }
  
  .blog-card .card-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
    --height: 30px;
    --width: 92px;
  }
  
  .blog-card .card-content { padding: 20px; }
  
  .blog-card .card-title { margin-bottom: 20px; }
  
  .blog-card .card-title > a { color: inherit; }
  
  .blog-card .card-title > a:is(:hover, :focus) { color: var(--carolina-blue); }
  
  .blog-card .card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .blog-card :is(.publish-date, .comments) {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--fs-6);
    color: var(--independence);
  }
  
  .blog-card :is(.publish-date, .comments) ion-icon {
    font-size: 15px;
    --ionicon-stroke-width: 50px;
  }
  
  .blog .has-scrollbar {
    display: flex;
    gap: 20px;
    scroll-snap-type: inline mandatory;
    overflow-x: auto;
    padding-bottom: 20px;
  }
  
  .blog .has-scrollbar > li {
    flex-shrink: 0;
    max-width: 330px;
    width: 100%;
    scroll-snap-align: start;
  }
  
  .has-scrollbar::-webkit-scrollbar-track {
    background: var(--alice-blue-1);
    outline: 2px solid var(--carolina-blue);
    border-radius: 10px;
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    border-color: var(--alice-blue-1);
    background: var(--carolina-blue);
    border-radius: 10px;
  }
  
  .has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }
  
  



@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: none;
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}
@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .header .login-form {
    width: 90%;
  }
  .home .slide {
    justify-content: center;
  }
  .home .slide .content {
    text-align: center;
    font-size: 3rem;
  }
  .footer .container .row .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .footer .container .row .footer-col {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
